*{
    margin: 0%;
    padding: 0%;
} 
html,body{
    height: 100%;
    width: 100%;
}
h1{
    color: wheat;
}
#main{
    height: 100%;
    width: 100%;
    display: flex ;
    align-items: center;
    justify-content: center;

    background: salmon;
}
.shape{
    background: blue;
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center ;
}
#circle{
    background: black;
    border-radius: 50%;
}
#rombus{
    
    rotate: 45deg;
margin-top: 50px;
   
}
#rombus h1{
    rotate: -45deg;
}
#square{
    background: brown;

}
#circle:hover{
    background: green;
}
#rombus:hover{
    background: yellow;
}
#square:hover{
    background: red;
}
